{% extends "base.html" %}

{% block content %}
    <h1>Edit users</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=64) }}<br>
            {% for error in form.last_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if not users %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">login</th>
                <th scope="col">first_name</th>
                <th scope="col">Last_name</th>
                <th scope="col">Does</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">login</th>
                <th scope="col">first_name</th>
                <th scope="col">Last_name</th>
                <th scope="col">Does</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }} </td>
                <td><a href="{{ url_for('edit_user', _id=user.id) }}">Edit</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}