{% extends "base.html" %}

{% block content %}
    <h1>index html</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">login</th>
            <th scope="col">first_name</th>
            <th scope="col">Last_name</th>
            <th scope="col">password</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.password_hash[:20] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}